@model E_Commerce.Models.ProductModel

@{
    ViewBag.Title = "ProductDetail";
}

<h1 style="color:silver; text-align:center; ">Product Detail</h1>

<div>
    <h4>Product Details</h4>

    <div class="imgd">

        <img src="@Url.Content(Model.imageUrl)" class="imgDetail" />
        <div class="Details">Name</div>
        <div class="descs">@Html.DisplayFor(modelItem => Model.Name)</div>
        <div class="Details">Description</div>
        <div class="descs">@Html.DisplayFor(modelItem => Model.Description)</div>
        <div class="Details">Full Details</div>
        <div class="descs">@Html.DisplayFor(modelItem => Model.FullInformation)</div>
        <div class="descs">Price  R: @Html.DisplayFor(modelItem => Model.Price)</div>
    </div>

</div>
<p>
 
    @Html.ActionLink("Back to List", "Products")
</p>
