@model IEnumerable<E_Commerce.Models.Cart>

@{
    ViewBag.Title = "showResults";
}

<h2 class="desc">Cart Items</h2>

<table style="background:#020221; margin-left:80px;" class="table">
    <tr style="color:white">
        <th width="25%">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="15%">
            @Html.DisplayNameFor(model => model.Price)
        </th>
   
        <th width="5%">
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="color:white">
        <td width="25%">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td width="15%">
            @Html.DisplayFor(modelItem => item.Price)
        </td>
 
        <td width="5%">
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td width="5%">
            <div class="desc">@Html.ActionLink("Remove Item", "RemoveItem", new { Name = item.Name})</div>  
        </td>
    </tr>
}
    <tr>
    <td>
        <div class="desc">Total Price od Products:  @ViewBag.Total</div>
    </td>
    </tr>

</table>
