@model IEnumerable<E_Commerce.Models.Cart>

@{
    ViewBag.Title = "showResults";
}

<h2 style="color:silver; text-align:center">Cart Items</h2>

<style type="text/css">
    .table {
      
        font-size: 32px;
        width: auto;
        height: auto;
        margin-left: 720px;
       border: 18px solid #ccc;
       background:#382c2c;
       
    }
</style>

<table  class="table">
    <tr>
        <th>
            <div class="Details">@Html.DisplayNameFor(model => model.Name)</div>
</th>
        
        
        <th>
            <div class="Details">   @Html.DisplayNameFor(model => model.Price)</div>
</th>
       
        
         <th>
             <div class="Details">  @Html.DisplayNameFor(model => model.Quantity)</div>
</th>


        <th></th>
    </tr>

    @foreach (var item in Model)
            {


        <tr>
            <td>
                <div class="descs"> @Html.DisplayFor(modelItem => item.Name)</div>
</td>
            <td style="color:blue;">

                <div style="color:blue;" class="descs">@Html.DisplayFor(modelItem => item.Price)</div>
</td>
            <td>


                <div class="descs">@Html.DisplayFor(modelItem => item.Quantity)</div>
</td>
            <td>

                <div class="descs"> @Html.ActionLink("Remove Item", "RemoveItem", new { Name = item.Name })</div>
</td>
        </tr>
    }
    <tr>
        <td>
            <div class="descs"> Total Price:  @ViewBag.Total</div>
</td>

        <td>
</table>
 






@Html.ActionLink("Back to List", "Products")