@model IEnumerable<E_Commerce.Models.Cart>

@{
    ViewBag.Title = "showResults";
}

<h2>View Cart</h2>

<table style="background:#020221; margin-left:700px;" class="table">
    <tr style="color:white">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="color:white">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            <div class="desc">@Html.ActionLink("Remove Item", "RemoveItem", new { Name = item.Name})</div>  
        </td>
    </tr>
}
    <tr>
    <td>
        <div class="desc">Total Price od Products:  @ViewBag.Total</div>
    </td>
    </tr>

</table>
