<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)

        <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/css/styles.css")" rel="stylesheet" type="text/css"/>
        </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <ul class="menu" rel="sam1">
                    @*<li class="active"><a href="http://insicdesigns.com">Home</a></li>*@

                    @*<li><a href="http://insicdesigns.com">About</a></li>
                    <li><a href="http://insicdesigns.com">Blog</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>*@
                    @*<li><a href="#">Contacts</a></li>*@
                    <li>@Html.ActionLink("home", "Index", "home")</li>
                    @*<li>@Html.ActionLink("Product Detail", "ProductDetail", "Home")</li>*@
                    <li>@Html.ActionLink("Products", "Products", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contacts", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
         </div>
            </div>
        @RenderBody()
    </body>
</html>
